In [6]:
import pandas as pd
import json
import re #regular expression

Python installation directory: C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.13_3.13.2288.0_x64__qbz5n2kfra8p0

In [2]:
print("### Structured Data Example ###")

# Structured data (e.g., table from a database)
data = {
    'EmployeeID': [101, 102, 103],
    'Name': ['Ravi', 'Priya', 'Amit'],
    'Department': ['Finance', 'HR', 'IT'],
    'Salary': [65000, 55000, 75000]
}

df = pd.DataFrame(data)
print(df, "\n")

# You can filter, sort, or do SQL-like operations easily
print("Employees with salary > 60000:\n", df[df['Salary'] > 60000], "\n")

### Structured Data Example ###
   EmployeeID   Name Department  Salary
0         101   Ravi    Finance   65000
1         102  Priya         HR   55000
2         103   Amit         IT   75000

Employees with salary > 60000:
    EmployeeID  Name Department  Salary
0         101  Ravi    Finance   65000
2         103  Amit         IT   75000

In [3]:
# Semi-structured data (e.g., JSON, NoSQL)
print("### Semi-Structured Data Example ###")
json_data = '''
[
  {"name": "Ravi", "skills": ["Excel", "SAP"], "details": {"city": "Delhi", "age": 29}},
  {"name": "Priya", "skills": ["Recruitment", "Communication"], "details": {"city": "Mumbai", "age": 31}},
  {"name": "Amit", "skills": ["Python", "AWS"], "details": {"city": "Bangalore", "age": 28}}
]
'''

parsed = json.loads(json_data)
print(json.dumps(parsed, indent=2), "\n")

# Convert semi-structured JSON to structured DataFrame
df_json = pd.json_normalize(parsed)
print("Flattened JSON to Table:\n", df_json, "\n")

### Semi-Structured Data Example ###
[
  {
    "name": "Ravi",
    "skills": [
      "Excel",
      "SAP"
    ],
    "details": {
      "city": "Delhi",
      "age": 29
    }
  },
  {
    "name": "Priya",
    "skills": [
      "Recruitment",
      "Communication"
    ],
    "details": {
      "city": "Mumbai",
      "age": 31
    }
  },
  {
    "name": "Amit",
    "skills": [
      "Python",
      "AWS"
    ],
    "details": {
      "city": "Bangalore",
      "age": 28
    }
  }
]

Flattened JSON to Table:
     name                        skills details.city  details.age
0   Ravi                  [Excel, SAP]        Delhi           29
1  Priya  [Recruitment, Communication]       Mumbai           31
2   Amit                 [Python, AWS]    Bangalore           28

In [4]:
print("### Unstructured Data Example ###")

# Unstructured data (e.g., text, emails, logs)
text_data = """
Ravi joined finance department last year.
Priya from HR got promoted recently.
Amit is working on cloud migration in IT.
"""

print("Raw text data:\n", text_data)

# Extract useful info using regex or NLP
names = re.findall(r'\b[A-Z][a-z]+\b', text_data)
departments = re.findall(r'Finance|HR|IT', text_data)
print("\nExtracted Names:", names)
print("Extracted Departments:", departments)

### Unstructured Data Example ###
Raw text data:

Ravi joined finance department last year.
Priya from HR got promoted recently.
Amit is working on cloud migration in IT.


Extracted Names: ['Ravi', 'Priya', 'Amit']
Extracted Departments: ['HR', 'IT']